
<%= render @user %>

<%= link_to "Change account status", toggle_closed_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" if current_user && current_user.admin %>

<p><strong>member of</strong></p>

<ul>
  <% @user.beer_clubs.each do |club| %>
  <li><%= link_to club.name, club %></li>
  <% end %>
</ul>

<p><strong>ratings</strong></p>

<ul>
  <% @user.ratings.each do |rating| %>
  <li>
    <%= rating.to_s %>
    <% if @user == current_user %>
      <%= link_to "Delete", rating_path(rating), data: {"turbo-method": :delete} %>
    <% end %>
  </li>
  <% end %>
</ul>

<div>
  <%= link_to "Back to users", users_path %>

  <%= edit_and_destroy_buttons(@user) %>
</div>
