<h2><%= @place.name %></h2>
<table class="table">
    <tbody class="table-primary">
        <tr>
            <th scope="row">Place type</th>
            <td><%= @place.status %></td>
        </tr>

        <tr>
            <th scope="row">Street address</th>
            <td><%= @place.street %></td>
        </tr>

        <tr>
            <th scope="row">Postal code and city</th>
            <td><%= "#{@place.zip} #{@place.city}" %></td>
        </tr>
    </tbody>
</table>

<%= link_to "Back to places search", places_path %>